.switch-btns-container{
    .btn-group{
        height: 40px;
        width: 250px ;
        background-color: #f0f4f7 !important;
        border-radius: 40px !important;
    }

    button{
        color:#062a44;
        background-color: #f0f4f7 !important;
        border-radius: 40px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    button.selected{
        color: #f0f4f7 !important;
        background: #062a44 !important;
        border-radius: 40px;
    }
}

.input-icons {
    position: relative;
    margin-bottom: 10px;
}

.input-icons i {
    position: absolute;
    top: 41% !important;
    right: 5px !important;
}

.icon {

    min-width: 40px;
}


// ==== Excel Template registration style ====
.download-btn-container{
    button{
        padding:10px 20px;
        background-color: #154f79;
        border-radius: 45px;
        border: none !important;
        color: #e8eef3;
        font-size: 25px !important;
        font-weight: 500;
        width: auto !important;
        i{
            padding: 10px;
            font-size: 25px !important;
            font-weight: 600 !important;
        }
    }
}

.upload-btn-container{
    button{
        padding:10px 20px ;
        background-color: #154f79;
        border-radius: 45px;
        border: none !important;
        color: #e8eef3;
        font-size: 25px !important;
        font-weight: 500;
        i{
            padding: 10px;
            font-size: 25px !important;
            font-weight: 600 !important;
        }
    }
}


.card{
    border:none !important;

    .btn{
        width: 140px !important;
        height: 50px !important;
        border: none !important;
        font-size: 18px !important;
        font-weight:600 !important;
        border-radius: 10px !important;

        i{
            font-size:20px !important;
            font-weight: 900 !important;
        }
    }
    .next-btn{
        background-color: rgb(10, 118, 151) !important;
    }
}

.lpx-wizard-list {
    z-index: 1;
}

.lpx-wizard-item {
    flex: 1;
    text-align: center;
    border-bottom: 2px solid var(--lpx-content-text);
    padding-bottom: 8px;
    opacity: 0.4;
    list-style: none;
    margin: 10px 0px;
}
.lpx-wizard-item.active {
    opacity: 1;
}

.lpx-wizard-item .lpx-wizard-number {
    width: 40px;
    height: 40px;
    border: 2px solid var(--lpx-content-bg);
    color: var(--lpx-content-text);
    background-color: var(--lpx-card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lpx-wizard-item.active .lpx-wizard-number{
    color: var(--lpx-light);
    background-color: var(--lpx-dark);
    border-color: var(--lpx-dark);
}

.lpx-wizard-content {
    display: none;
}

.lpx-wizard-content.active {
    display: block;
}

.form-control{
    font-weight: 400;
    background-color: #f0f4f7;
    border-radius: 0.5rem;
    transition: background-color 0.2s, border-color 0.4s;
    border-color: #e8eef3;
    color: #062a44;
}


.modal-body.ng-star-inserted{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.btn-container{
    // display: flex;
    // justify-content: space-between;
    .row{
        display: flex !important;
        justify-content: space-between !important;
    }
    button{
        padding: 10px;
        min-width:90px;
        border-radius: 5px;
        border: 1px solid #154f79 !important;
        background-color: #f0f4f7 !important;
        font-size: large;
        font-weight: 600;
    }

    button.selected{
        border: none !important;
        background-color: rgb(10, 118, 151) !important;
        color: #f0f4f7;
    }
}

.form-check{
    display: flex;
    align-items: center !important;
    input{
        margin: 0px 5px !important;
    }
    label{
        margin: 0px 5px !important;
    }
}


.profile-img-container{
    width: 300px !important;
    height: 300px !important;
    border-radius: 50% !important;
    img{
        height: 100% !important;
        width: 100% !important;
        border-radius: 50% !important;
    }
}
.img-container{
    width: 600px !important;
    height: 300px !important;
    background-color: #154f79 !important;
    img{
        height: 100% !important;
        width: 100% !important;
    }
}

.check24{
    display: flex !important;
    align-items: center !important;
}

.working-hourse-actions{
    .time-inputs{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .day-name{
            font-size: large;
            font-weight: 600;
        }
        .inputs{
            // width: 270px !important;
            input{
                display: flex;
                font-weight: 400;
                background-color: #f0f4f7;
                border-radius: 0.5rem;
                transition: background-color 0.2s, border-color 0.4s;
                border-color: #e8eef3;
                color: #062a44;
            }
            
        }
    }
}

